---
http_interactions:
- request:
    method: get
    uri: http://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=7a3heu7emrjz6qbsugmepbv6&format=json&pageSize=10&show=longName,storeType,phone,city,distance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 10,
          "currentPage": 1,
          "total": 16,
          "totalPages": 2,
          "queryTime": "0.009",
          "totalTime": "0.024",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=longName,storeType,phone,city,distance&pageSize=10&format=json&apiKey=7a3heu7emrjz6qbsugmepbv6",
          "stores": [
            {
              "longName": "BEST BUY MOBILE - CHERRY CREEK SHOPPING CENTER",
              "storeType": "Mobile SAS",
              "phone": "303-270-9189",
              "city": "DENVER",
              "distance": 3.45
            },
            {
              "longName": "BEST BUY - BELMAR",
              "storeType": "Big Box",
              "phone": "303-742-8039",
              "city": "LAKEWOOD",
              "distance": 5.31
            },
            {
              "longName": "BEST BUY - COLORADO BLVD",
              "storeType": "Big Box",
              "phone": "303-758-5805",
              "city": "DENVER",
              "distance": 5.59
            },
            {
              "longName"[...]
[...]
